<%= form_with(model: driver, local: true) do |form| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :driver_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :driver_last_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :driver_phone %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :driver_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :driver_state %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :driver_email %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :driver_active %>
  </div>

  <div class="field">
    <%= form.label :load %>
    <%= form.text_field :load, id: :driver_load %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :driver_status %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_field :comments, id: :driver_comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
