
<div class="jumbotron jumbotron-home">

        <h1>Driver Tracking</h1>

</div>




<div id = "driv-feed">
 <table class="table table-bordered table-hover">
    <thead>
      <tr>

        <th>Driver Name</th>
        <th>Phone</th>
        <th>City</th>
        <th>State</th>
        <th>Email</th>
        <th>Active</th>
        <th>Driver status</th>
        <th>Company</th>
        <th>Comments</th>
        <th> Update Driver</th>

      </tr>
    </thead>

  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.full_name %></td>
        <td><%= driver.phone %></td>
        <td><%= driver.city %></td>
        <td><%= driver.state %></td>
        <td><%= driver.email %></td>
        <td><%= driver.active %></td>
        <td><%= driver.load %></td>
        <td><%= driver.status %></td>
        <td><%= driver.comments %></td>
        <td><%= link_to 'Show', driver, class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_driver_path(driver), class: "btn btn-warning btn-group"  %>
        <%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

