<p id="notice"><%= notice %></p>

<h1><%= @driver.full_name %></h1>

  <table id="show-table" class="table table-bordered">
<tr>

<td>
  <strong>Phone:</strong>
  <%= @driver.phone %>
</td>

<td>
  <strong>City:</strong>
  <%= @driver.city %>
</td>

<td>
  <strong>State:</strong>
  <%= @driver.state %>
</td>

<td>
  <strong>Email:</strong>
  <%= @driver.email %>
</td>

<td>
  <strong>Active:</strong>
  <%= @driver.active %>
</td>

<td>
  <strong>Load:</strong>
  <%= @driver.load %>
</td>

<td>
  <strong>Status:</strong>
  <%= @driver.status %>
</td>

<td>
  <strong>Comments:</strong>
  <%= @driver.comments %>
</td>
   </tbody>
  </table>
<%= link_to 'Edit', edit_driver_path(@driver), class: "btn btn-warning" %>
<%= link_to 'Home', drivers_path, class: "btn btn-primary" %>
